In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv('boston_housing.csv')
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     452 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB

In [14]:
data['MEDV'].mean()

23.750442477876135

In [15]:
data['MEDV'].mode()

0    50.0
dtype: float64

In [16]:
missing_data = data['MEDV'].mean()
data['MEDV'].fillna(missing_data, inplace=True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB

In [18]:
data.corr()

             CRIM        ZN     INDUS  ...         B     LSTAT      MEDV
CRIM     1.000000 -0.288969  0.586719  ... -0.053260  0.392225 -0.281410
ZN      -0.288969  1.000000 -0.491587  ...  0.015810 -0.390092  0.330706
INDUS    0.586719 -0.491587  1.000000  ...  0.233471  0.465583 -0.369043
CHAS    -0.067536 -0.005843 -0.185873  ... -0.495956  0.011260  0.124836
NOX     -0.139448  0.038450 -0.394483  ... -0.856608  0.079688 -0.021732
RM      -0.185045  0.078721 -0.448809  ... -0.848289  0.029450  0.017135
AGE      0.462470 -0.488006  0.700699  ...  0.417216  0.414354 -0.240797
DIS     -0.312843  0.268317 -0.605973  ... -0.778075 -0.080368  0.042339
RAD     -0.151996  0.062767 -0.427834  ... -0.861694  0.056185 -0.007632
TAX      0.754362 -0.256799  0.748951  ...  0.372806  0.284030 -0.273793
PTRATIO -0.140015  0.049491 -0.351166  ... -0.690245  0.049208 -0.010948
B       -0.053260  0.015810  0.233471  ...  1.000000 -0.186021  0.136887
LSTAT    0.392225 -0.390092  0.465583  ... -0.186021  1.000000 -0.677497
MEDV    -0.281410  0.330706 -0.369043  ...  0.136887 -0.677497  1.000000

[14 rows x 14 columns]

In [19]:
X = data.iloc[:, 0:-1].values
y = data.iloc[:, -1].values

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [21]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [22]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

[[23.69 22.6 ]
 [25.66 50.  ]
 [28.16 23.  ]
 [26.73 23.75]
 [18.73 21.2 ]
 [24.76 19.9 ]
 [19.97 20.6 ]
 [24.96 18.7 ]
 [24.16 16.1 ]
 [23.76 18.6 ]
 [26.13 23.75]
 [18.88 23.75]
 [16.71 14.9 ]
 [25.36 23.75]
 [35.58 50.  ]
 [29.48 29.  ]
 [20.28 23.  ]
 [32.75 33.3 ]
 [30.64 29.4 ]
 [26.15 21.  ]
 [26.14 23.8 ]
 [22.62 19.1 ]
 [23.82 20.4 ]
 [31.46 29.1 ]
 [22.94 19.3 ]
 [14.16 23.75]
 [21.46 19.6 ]
 [20.36 19.4 ]
 [31.78 38.7 ]
 [19.94 18.7 ]
 [21.25 23.75]
 [18.47 20.  ]
 [19.61 20.5 ]
 [22.16 20.1 ]
 [28.88 23.6 ]
 [23.13 16.8 ]
 [29.42 23.75]
 [29.49 50.  ]
 [15.47 14.5 ]
 [11.11 13.3 ]
 [21.57 23.9 ]
 [19.66 20.  ]
 [21.09 19.8 ]
 [15.94 13.8 ]
 [21.38 16.5 ]
 [24.36 21.6 ]
 [14.33 20.3 ]
 [24.51 17.  ]
 [10.37 11.8 ]
 [26.56 27.5 ]
 [23.18 15.6 ]
 [18.91 23.1 ]
 [24.14 24.3 ]
 [23.29 42.8 ]
 [16.92 15.6 ]
 [18.17 21.7 ]
 [21.33 17.1 ]
 [14.84 17.2 ]
 [20.6  23.75]
 [22.14 21.7 ]
 [20.22 18.6 ]
 [21.85 21.  ]
 [29.59 33.1 ]
 [30.93 31.5 ]
 [12.62 23.75]
 [32.48 29.8 ]
 [16.48 15.2 ]
 [13.11 15.  ]
 [10.5  23.75]
 [23.3  22.6 ]
 [20.91 20.  ]
 [22.42 21.4 ]
 [32.93 23.5 ]
 [30.29 31.2 ]
 [23.06 23.7 ]
 [26.93 23.75]
 [30.83 48.3 ]
 [22.76 24.4 ]
 [28.37 22.6 ]
 [22.04 18.3 ]
 [26.41 23.3 ]
 [20.92 17.1 ]
 [10.54 23.75]
 [32.16 44.8 ]
 [31.83 50.  ]
 [25.21 23.  ]
 [25.57 21.4 ]
 [20.65 23.75]
 [27.77 23.3 ]
 [15.9  23.2 ]
 [21.4  18.9 ]
 [22.13 23.75]
 [26.72 21.9 ]
 [28.78 24.8 ]
 [28.61 11.9 ]
 [20.14 24.3 ]
 [22.55 23.75]
 [28.68 24.7 ]
 [14.04 14.1 ]
 [19.54 18.7 ]
 [24.61 28.1 ]
 [24.94 19.8 ]]

In [23]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.33612985030875997

In [25]:
print(regressor.coef_)
print(regressor.intercept_)

[ 3.91e-02  1.07e-01 -1.96e-01  3.48e+00  4.81e-03  9.85e-02  8.37e-03
 -1.83e+00  3.33e-02 -1.00e-02  1.40e-03  5.96e-03 -8.33e-01]
41.12433192218642